.cat-summary-tile {
    background-color: rgb(198, 223, 242);
    display: flex;
    max-inline-size: 400px;
    max-block-size: 300px;
    min-inline-size: 300px;
    min-block-size: 100px;
    margin-top:20px;    
    margin-left:50px;
    margin-bottom:50px;
    align-items: center;
    margin-right:50px;
    font-size: calc(10px + 2vmax);
    flex-direction: column;
}

.cat-summary-data-cont {
    background-color: rgb(250, 152, 188);
    display: flex;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}

.cat-data-cont {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 20px;
    font-size: 25px;
}

.cat-data-title {
    font-size: 35px;
}